<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="imgContainer">
        <!-- <img class="blueDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw3.svg"> -->
        <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw2.svg">
      </div>
      <div class="responsive-container-block textSide">
        <p class="text-blk heading">
          About Me
        </p>
        <p class="text-blk subHeading">
            Immediate Joinee | Work experience in Java, .NET core, Angular, C#, MSSQL, Typescript, Javascript, MongoDb . Knowledge and experience in OOPS, Python, MVC, Git, Web development, Database,, Web API. Previously worked as Asso. Software Engineer at GEP.</p>
        
        <a>
            <div class = "about-btns">
                <button type = "button" class = "btn btn-pink" (click)="resume()">Resume</button>
                <button type = "button" class = "btn btn-white" (click)="git()">Git hub</button>
                <button type = "button" class = "btn btn-white" (click)="linkdin()">Linkdin</button>

              </div>
        </a>
      </div>
      <!-- <img class="redDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg"> -->
    </div>
  </div>