<!-- <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5">About Me</h1>
        <p class="lead">Dedicated and results-driven professional with experience as an Associate Software Engineer at GEP, contributing as a Full Stack Developer. A Bachelor's degree holder in Computer Engineering, bringing a solid foundation in both theoretical concepts and practical application. Proficient in a versatile set of technologies, including Java, C#, .NET, Angular, SQL, Python, and MongoDB. Demonstrated ability to design, develop, and maintain robust software solutions, leveraging expertise in both front-end and back-end development. Excels in collaborative team environments, where innovative problem-solving and effective communication are key. Committed to continuous learning and adapting to emerging technologies to enhance project efficiency and deliver high-quality software solutions. Passionate about contributing to challenging projects and leveraging technical skills to drive successful outcomes.</p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-6">
        <h2>Work Experience</h2>
        <h6>Associate Software Engineer at GEP</h6>
        <p>Full-time Jun 2023 to Nov 2023</p>
        <p></p>
        <p></p>

      </div>
      <div class="col-lg-6">
        <h2>Projects</h2>
        <p>Details about my projects...</p>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-6">
        <h2>Education</h2>
        <p>Details about my education...</p>
      </div>
      <div class="col-lg-6">
        <h2>Technology Stack</h2>
        <p>Details about my technology stack...</p>
      </div>
    </div>
  </div>
  
<router-outlet></router-outlet> -->

    
<div class = "about-wrapper">
  <div class = "about-left">
    <div class = "about-left-content">
      <div>
        <div class = "shadow">
          <div class = "about-img">
            <img src = "https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049__340.png" alt = "about image">
          </div>
        </div>

        <h2>Shubham Nimse</h2>
        <h3>Full Stack Developer</h3>
      </div>

      <ul class = "icons">

        


        <li><i class = "fab fa-facebook-f">Java</i></li>
        <li><i class = "fab fa-twitter"></i>C#</li>
        <li><i class = "fab fa-linkedin"></i>.NET Core</li>
        <li><i class = "fab fa-instagram"></i>Angular</li>
        <li><i class = "fab fa-instagram"></i>SQL</li>
        <li><i class = "fab fa-instagram"></i>MongoDB</li>



        
      </ul>
    </div>
    
  </div>

  <div class = "about-right">
    <h1>Hello<span>!</span></h1>
    <h2>Here's who I am & what I do</h2>
    <div class = "about-btns">
      <button type = "button" class = "btn btn-pink" (click)="resume()">resume / CV</button>
      <button type = "button" class = "btn btn-white" (click)="git()">Git hub</button>
    </div>

    <div class = "about-para">
        <p>Dedicated and results-driven professional with experience as an Associate Software Engineer at GEP, contributing as a Full Stack Developer.</p>
        <p>A Bachelor's degree holder in Computer Engineering, bringing a solid foundation in both theoretical concepts and practical application. </p>
        <p>Proficient in a versatile set of technologies, including Java, C#, .NET, Angular, SQL, Python, and MongoDB.</p>
    
    </div>
    <div class="credit">Email <span style="color:tomato">:</span>  nimse918@gmail.com</div>
  </div>
</div>
