<div class="bio-container" [innerHTML]="playerInfo.name"></div>
<nz-tabset>
    <nz-tab nzTitle="Profile Information">
        <div class="info">

            <div class="table-container">
                <nz-table #basicTable [nzFrontPagination]="false" [nzData]="playerInfo">
                    <h3>Personal Information</h3>
                    <tbody>
                        <tr>
                            <td>Born</td>
                            <td>{{playerInfo.DoBFormat}}</td>
                        </tr>
                        <tr>
                            <td>Birth Place</td>
                            <td>{{playerInfo.birthPlace}}</td>
                        </tr>
                        <tr>
                            <td>Height</td>
                            <td>{{playerInfo.height}}</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>{{playerInfo.role}}</td>
                        </tr>
                        <tr>
                            <td>Batting Style</td>
                            <td>{{playerInfo.bat}}</td>
                        </tr>
                        <tr>
                            <td>Bowling Style</td>
                            <td>{{playerInfo.bowl}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

            <div class="table-container">
                <nz-table #basicTable [nzFrontPagination]="false" [nzData]="playerInfo">
                    <h3>Best ICC rankings</h3>
                    <thead>
                        <th></th>
                        <th>ODI</th>
                        <th>T20I</th>
                        <th>Test</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Batting</td>
                            <td>{{playerInfo.rankings.bat.testBestRank}}</td>
                            <td>{{playerInfo.rankings.bat.odiBestRank}}</td>
                            <td>{{playerInfo.rankings.bat.t20BestRank}}</td>
                        </tr>
                        <tr>
                            <td>Bowling</td>
                            <td>{{playerInfo.rankings.bowl.testBestRank}}</td>
                            <td>{{playerInfo.rankings.bowl.testBestRank}}</td>
                            <td>{{playerInfo.rankings.bowl.testBestRank}}</td>
                        </tr>

                    </tbody>
                </nz-table>
            </div>

        </div>

        <div class="bio-container" [innerHTML]="playerInfo.bio"></div>

    </nz-tab>


    <nz-tab nzTitle="Batting Carrer">
        <nz-table #basicTable [nzSize]="'middle'" [nzData]="battingStats">
            <tbody>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Test</th>
                        <th scope="col">ODI</th>
                        <th scope="col">T20</th>
                        <th scope="col">IPL</th>
                    </tr>
                </thead>
                <tr *ngFor="let item of battingStats.values">
                    <td>{{ item.values[0] }}</td>
                    <td>{{ item.values[1] }}</td>
                    <td>{{ item.values[2] }}</td>
                    <td>{{ item.values[3] }}</td>
                    <td>{{ item.values[4] }}</td>
                </tr>
            </tbody>
        </nz-table>
    </nz-tab>


    <nz-tab nzTitle="Bowling Carrer"><nz-table #basicTable [nzSize]="'middle'" [nzData]="bowling">
            <tbody>
                <thead>
                    <tr>
                        <th scope="col">Metric</th>
                        <th scope="col">Test</th>
                        <th scope="col">ODI</th>
                        <th scope="col">T20</th>
                        <th scope="col">IPL</th>
                    </tr>
                </thead>
                <tr *ngFor="let item of bowling.values">
                    <td>{{ item.values[0] }}</td>
                    <td>{{ item.values[1] }}</td>
                    <td>{{ item.values[2] }}</td>
                    <td>{{ item.values[3] }}</td>
                    <td>{{ item.values[4] }}</td>
                </tr>
            </tbody>
        </nz-table></nz-tab>
</nz-tabset>