<div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="imgContainer">
        <!-- <img class="blueDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw3.svg"> -->
        <img class="mainImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/aw2.svg">
      </div>
      <div class="responsive-container-block textSide">
        <p class="text-blk heading">
          Welcome to ScorerPro!
        </p>
        <p class="text-blk subHeading">Welcome to our cricket hub, where you can stay updated on all things cricket!</p>
            <p class="text-blk subHeading">ICC RANKINGS: Stay informed about the latest ICC player rankings across all formats of the game. Track the top batsmen, bowlers, and all-rounders as they compete for supremacy on the international stage. See who's leading the charts and who's climbing up the ranks with each match.</p>
            <p class="text-blk subHeading">PLAYER PROFILES: Explore the profiles of your favorite cricketers. From seasoned veterans to rising stars, discover in-depth information about their career stats, achievements, playing style, and more. Get to know the personalities behind the performances and follow their journey in the world of cricket.</p>
            <p class="text-blk subHeading">RECENT MATCHES: Dive into the latest match results, scores, and highlights. Whether it's the thrilling conclusion of a Test match, the fast-paced action of a T20 encounter, or the strategic battles of an ODI series, we've got you covered with comprehensive coverage of recent matches from around the globe.</p>
        <a>
            <div class = "about-btns">
                <button type = "button" class = "btn btn-pink" (click)="recent()">Recent Matches</button>
                <button type = "button" class = "btn btn-white" (click)="profiles()">Player Profiles</button>
                <button type = "button" class = "btn btn-white" (click)="rankings()">Icc Rankings</button>

              </div>
        </a>
      </div>
      <!-- <img class="redDots" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/cw3.svg"> -->
    </div>
  </div>